*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    background-color: beige;
}

nav {
    width: 100%;
    height: 10vh;
    background-color:white;
    position: relative;
    box-shadow: 1px 1px 10px 0.9px rgb(105, 105, 105);
}

nav img {
    width: 200px;
    height: 100%;
    cursor: pointer;
}

nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

nav ul li:hover {
    background-color: purple;

}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: white;
}

.content {
    width: 100%;
    height: 80vh;
    background-color: white;
}

.home {
    width: 100%;
    height: 80vh;
    margin-top: 10px;
    background-image: linear-gradient(rgba(100, 100, 100, 0.6), rgba(100, 100, 100, 0.6)), url("images/FS 2004 both cars.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}


.home h1 {
    font-size: 70px;
    margin-top: 80px;
}

.home p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.home button {
    width: 220px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.home button:hover {
    border: none;
}

.home span {
    background: purple;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.home button:hover span {
    width: 100%;
}

.aboutUs {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.aboutUs h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    text-align: center;
}

.aboutUsContainer {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.aboutUsContent {
    flex: 1;
}

.aboutUsContent h2 {
    font-size: 23px;
    margin-bottom: 15px;
}

.aboutUsContent p {
    font-size: 18px;
    line-height: 1.5;
}

.aboutUsContent .learn-more {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px 10px;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    cursor: pointer;
}

.aboutUsContent .learn-more:hover {
    border: 2px solid white;
    background-color: purple;
    color: white;
}


.contactUs {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.contactUs h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    text-align: center;
}

.contactContainer {
    width: 90%;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

.contactContainer .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.contactContainer .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactContainer .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contactContainer .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.contactContainer .map {
    padding-right: 50px;
}

.events {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.events h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    text-align: center;
}

.all-events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.event {
    overflow: hidden;
    background: white;
    text-align: center;
    width: 240px;
    height: 380px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 5px;
    margin-top: 2rem;
}

.event:hover img{
    scale: 1.1;
}

.event:hover {
    box-shadow: 5px 15px 25px black;
}

.event img {
    height: 150px;
    margin: 1rem;
    transition: all 0.3s;
}

.event a {
    color: black;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    padding: 1.2rem 2rem;
    border-radius: 25px;
    margin-top: 1rem;
    transition: all 0.2s;
    cursor: pointer;
}

.event a:hover {
    color: white;
    background-color: purple;
    border: 2px solid white;
    transform: scale(1.1);
}

.eventContainer {
    width: 90%;
    margin: 50px auto;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 25px;
}

.event-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.event-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.event-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.eventContent {
    flex: 1;
}

.eventContent h2 {
    font-size: 23px;
    margin-bottom: 15px;
}

.eventContent p {
    font-size: 18px;
    line-height: 1.5;
}

.eventContent .return-events {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px 10px;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    cursor: pointer;
}

.eventContent .return-events:hover {
    border: 2px solid white;
    background-color: purple;
    color: white;
}

.history {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.history h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    text-align: center;
}

.history h2 {
    margin-top: 10px;
    margin-left: 10px;
}

.history p {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 100;
    line-height: 25px;
}

.history img {
    width: 54%;
    height: 54%;
    margin-left: 22.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.history a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px 10px;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 45%;
    cursor: pointer;
}

.history a:hover {
    border: 2px solid white;
    background-color: purple;
    color: white;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.timeline-btn a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px 10px;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 47.5%;
    cursor: pointer;
}

.timeline-btn a:hover {
    border: 2px solid white;
    background-color: purple;
    color: white;
}

.timelineContainer {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
       opacity: 1;
       transform: translateY(-30px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
     }
}

.timelineContainer:nth-child(1) {
    animation-delay: 0s;
}

.timelineContainer:nth-child(2) {
    animation-delay: 1s;
}

.timelineContainer:nth-child(3) {
    animation-delay: 2s;
}

.timelineContainer:nth-child(4) {
    animation-delay: 3s;
}

.timelineContainer:nth-child(5) {
    animation-delay: 4s;
}

.timelineContainer:nth-child(6) {
    animation-delay: 5s;
}

.timelineContainer:nth-child(7) {
    animation-delay: 6s;
}

.timelineContainer:nth-child(8) {
    animation-delay: 7s;
}

.timelineContainer:nth-child(9) {
    animation-delay: 8s;
}

.timelineContainer:nth-child(10) {
    animation-delay: 9s;
}

.timelineContainer:nth-child(11) {
    animation-delay: 10s;
}

.timelineContainer:nth-child(12) {
    animation-delay: 11s;
}

.timelineContainer:nth-child(13) {
    animation-delay: 12s;
}

.timelineContainer:nth-child(14) {
    animation-delay: 13s;
}

.timelineContainer:nth-child(15) {
    animation-delay: 14s;
}

.timelineContainer:nth-child(16) {
    animation-delay: 15s;
}

.timelineContainer:nth-child(17) {
    animation-delay: 16s;
}

.timelineContainer:nth-child(18) {
    animation-delay: 17s;
}

.timelineContainer:nth-child(19) {
    animation-delay: 18s;
}

.timelineTextBox {
    padding: 20px 30px;
    border: 2px solid black;
    background: white;
    border-radius: 6px;
    font-size: 15px;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.timelineContainer img {
    position: absolute;
    width: 40px;
    right: -20px;
    top: 32px;
    z-index: 10;
    cursor: pointer;
}

.timelineContainer img:hover {
    transform: scale(7.5);
}

.right-container img {
    left: -20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: black;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 18s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.timelineTextBox h2 {
    font-weight: 600;
}

.left-container-arrow {
    height: 0;
    width: 0;
    margin-right: 52px;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    margin-left: 52px;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid black;
    left: -15px;
}

.meetTeam {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.meetTeam h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    text-align: center;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profiles {
    display: flex;
    justify-content: space-around;
    margin: 20px 60px;
}

.profile {
    flex-basis: 260px;
}

.profile .profile-img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}

.profile:hover .profile-img {
    filter: grayscale(0);
}

.user-name {
    margin-top: 30px;
    font-size: 35px;
}

.profile h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
}

.profile p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}

.news {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}

.news h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: purple;
    color: white;
}

.all-news {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.news-container {
    overflow: hidden;
    background: white;
    text-align: center;
    width: 240px;
    height: 380px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 5px;
    margin-top: 2rem;
}

.news-container:hover img{
    scale: 1.1;
}

.news-container:hover {
    box-shadow: 5px 15px 25px black;
}

.news-container img {
    height: 150px;
    margin: 1rem;
    transition: all 0.3s;
}

.news-container a {
    color: black;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    padding: 1.2rem 2rem;
    border-radius: 25px;
    margin-top: 1rem;
    transition: all 0.2s;
    cursor: pointer;
}

.news-container a:hover {
    color: white;
    background-color: purple;
    border: 2px solid white;
    transform: scale(1.1);
}

.newsContainer {
    width: 90%;
    margin: 140px auto;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 25px;
}

.news-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.news-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.news-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.newsContent {
    flex: 1;
}

.newsContent h2 {
    font-size: 23px;
    margin-bottom: 15px;
}

.newsContent p {
    font-size: 18px;
    line-height: 1.5;
}

.newsContent .return-news {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px 10px;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    cursor: pointer;
}

.newsContent .return-news:hover {
    border: 2px solid white;
    background-color: purple;
    color: white;
}

.organiseTeam {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.organiseTeam h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    text-align: center;
}

.organiseContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.members {
    display: flex;
    justify-content: space-around;
    margin: 30px 50px;
    border: 3px solid purple;
}

.member {
    flex-basis: 260px;
    margin: 0px 69px;
}

.title-name {
    margin-top: 30px;
    font-size: 35px;
}

.member h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
}

.member p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}

.member input [type = "text"] {
    border: 0;
    background: white;
    display: block;
    margin: 20px center;
    padding: 14px 10px;
    width: 220px;
    outline: black;
}

.member .add-to {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px 10px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    cursor: pointer;
}

.member .add-to:hover {
    border: 2px solid white;
    background-color: purple;
    color: white;
}

.member textarea {
    background: white;
    display: block;
    margin: 20px center;
    padding: 14px 10px;
    width: 220px;
    height: 100px;
    outline: black;
}

.sponsor {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sponsor h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    text-align: center;
}

.sponsor img {
    width: 40%;
    height: auto;
    margin-top: 15px;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sponsor h2 {
    margin-left: 10px;
}

.sponsor p {
    margin-left: 10px;
    font-weight: 100;
    line-height: 25px;
}

.sponsor a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px 10px;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 45%;
    cursor: pointer;
}

.sponsor a:hover {
    border: 2px solid white;
    background-color: purple;
    color: white;
}

.teamAnnouncements {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.teamAnnouncements h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    text-align: center;
}

.all-teamAnnouncements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.teamAnnouncement-container {
    overflow: hidden;
    background: white;
    text-align: center;
    width: 240px;
    height: 380px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 5px;
    margin-top: 2rem;
}

.teamAnnouncement-container:hover img{
    scale: 1.1;
}

.teamAnnouncement-container:hover {
    box-shadow: 5px 15px 25px black;
}

.teamAnnouncement-container img {
    height: 150px;
    margin: 1rem;
    transition: all 0.3s;
}

.teamAnnouncement-container a {
    color: black;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    padding: 1.2rem 2rem;
    border-radius: 25px;
    margin-top: 1rem;
    transition: all 0.2s;
    cursor: pointer;
}

.teamAnnouncement-container a:hover {
    color: white;
    background-color: purple;
    border: 2px solid white;
    transform: scale(1.1);
}

.announcmentContainer {
    width: 90%;
    margin: 140px auto;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 25px;
}

.announcment-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.announcment-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.announcment-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.announcmentContent {
    flex: 1;
}

.announcmentContent h2 {
    font-size: 23px;
    margin-bottom: 15px;
}

.announcmentContent p {
    font-size: 18px;
    line-height: 1.5;
}

.announcmentContent a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px 10px;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    cursor: pointer;
}

.announcmentContent a:hover {
    border: 2px solid white;
    background-color: purple;
    color: white;
}

.teamEvents {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.teamEvents h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    text-align: center;
}

.all-teamEvents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.teamEvent-container {
    overflow: hidden;
    background: white;
    text-align: center;
    width: 240px;
    height: 380px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 5px;
    margin-top: 2rem;
}

.teamEvent-container:hover img{
    scale: 1.1;
}

.teamEvent-container:hover {
    box-shadow: 5px 15px 25px black;
}

.teamEvent-container img {
    height: 150px;
    margin: 1rem;
    transition: all 0.3s;
}

.teamEvent-container a {
    color: black;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    padding: 1.2rem 2rem;
    border-radius: 25px;
    margin-top: 1rem;
    transition: all 0.2s;
    cursor: pointer;
}

.teamEvent-container a:hover {
    color: white;
    background-color: purple;
    border: 2px solid white;
    transform: scale(1.1);
}

.teamEventContainer {
    width: 90%;
    margin: 140px auto;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 25px;
}

.teamEvent-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.teamEvent-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.teamEvent-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.teamEventContent {
    flex: 1;
}

.teamEventContent h2 {
    font-size: 23px;
    margin-bottom: 15px;
}

.teamEventContent p {
    font-size: 18px;
    line-height: 1.5;
}

.teamEventContent .return-teamEvents {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px 10px;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    cursor: pointer;
}

.teamEventContent .return-teamEvents:hover {
    border: 2px solid white;
    background-color: purple;
    color: white;
}

.teamLogin {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.teamLogin h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    text-align: center;
}

.login {
    width: 370px;
    height: 280px;
    margin: 80px auto;
    border: 5px solid purple;
    border-radius: 3px;
}

.login h2 {
    text-align: center;
    padding-top: 15px;
}

.login form {
    width: 310px;
    margin-left: 20px;
}

.login form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

.login form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}

.login input[type = button] {
    width: 320px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.login input[type = button]:hover {
    border: 2px solid white;
    background: purple;
    color: white;
}

.teamLogin p {
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -70px;
}

.teamSignup {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.teamSignup h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    text-align: center;
}

.signup {
    width: 370px;
    height: 410px;
    margin: 20px auto;
    border: 5px solid purple;
    border-radius: 3px;
}

.signup h2 {
    text-align: center;
    padding-top: 15px;
}

.signup form {
    width: 310px;
    margin-left: 20px;
}

.signup form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

.signup form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}

.signup input[type = button] {
    width: 320px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.signup input[type = button]:hover {
    border: 2px solid white;
    background: purple;
    color: white;
}

.signup p {
    text-align: center;
    padding-top: 40px;
    font-size: 15px;
}

.teamSignup p {
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
}

/*
.home {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(100, 100, 100, 0.6), rgba(100, 100, 100, 0.6)), url("images/FS 2004 both cars.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home h1 {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
    color: white;
}

.home p {
    width: 100%;
    size: 100px;
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    text-align: center;
    color: white;
}

.home ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home ul li {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.home ul li:hover {
    background-color: purple;

}

.home ul li a {
    text-decoration: none;
    color: black;
}

.home ul li a:hover {
    color: white;
}
*/
footer {
    width: 100%;
    height: 40vh;
    background-color: black;
    bottom: 0px;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .container {
        height: 100%;
    }

    .container img {
        flex-direction: column;
        width: 100%;
    }
    
    .container ul {
        flex-direction: column;
    }

    .container ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    
    .home {
        flex-direction: column;
        width: 100%;
    }

    .home h1 {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    
    .home p {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .home button {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}